body{
    width: 100%;
    padding: 0px;
    margin: 0px;
    
}

.Side1 {
    background-color: skyblue;
    background-image: url("../bilder/bilde12.jpg");
    height: 600px;
    width: fill;
    padding-top: 10px;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.Side1_overskrift{
    background-color: lightcoral;
    height: 81px;
    width: 300px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.Side1_link{
    width: 100%;
    height: auto; 
    
    border-radius: 30px 30px 0px 0px;
    margin-top: 40px;
    text-align: center;
    
}

.Side1_link_item{
    border-radius: 50px;
    min-width: 190px;
    padding-top: 12px;
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 21px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: white;
    
    display: inline-block;
    margin-left: 3%;
    margin-right: 3%;
    height: 100%;
    font-size: 17px;
    font-family: Verdana,Geneva,sans-serif; 
    color: black;
    text-align: center;
    margin-top: 5px;
    
   
}

.pdf{
    width: 100%;
    height: 500px;
    
}

h11 { font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-size: 24px; 
    font-style: normal;
    font-variant: normal; 
    font-weight: bold; 
    line-height: 26px; 
    margin-top: 40px;
}

.Side1_link_item:hover{
    text-decoration: underline;
    background-color: darkgrey;
}


.Side2{
    height: auto;
    background-color: white;
    width: fill;
}



.Side2_item{
    height: auto;
    width: 100%;
    background-color: rgb(0,100,100);
    color: white;
    text-align: center;
    padding: 15px;
     -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 15%;
    padding-left: 15%;
}

h8{
    
    font-size: 40px;
    font-family: Verdana,Geneva,sans-serif;
    
}


.Side1_i{
    height: 300px;
    width: fill;
    background-color: skyblue;
    background-image: url(../bilder/bilde6.jpg);
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
}

.Side1_i_Logo{
    position: absolute;
    height: 100px;
    width: 200px;
    
    background-color: lightcoral;
   margin: 10px;
}

.overskrift{
   display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 130px;
    
}

h1{
    font-family: Verdana,Geneva,sans-serif; 
    color: white;
    font-size: 40px;
}


.textBox{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
    width: 100%;
    
    background-color: whitesmoke;
    padding: 5px;
    padding-right: 20vw;
    padding-left: 20vw;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
   
}


p {
    font-family: Verdana,Geneva,sans-serif; 
    color: black;
    font-size: 13px;
}


.InfoHoved{
    
    height: auto;
    width: auto;
    
    margin-top: 10px;
    
    
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: 5%;
}

.InfoHoved_Item{
    height: 150px;
   
    min-width: 370px; 
    
    
    margin: 10px;
    
}

.InfoHoved_Item_Bilde{
    height: 20vmin;
    width: 20vmin;
   
    display: block;
    background-image: url("../bilder/avatar2.png");
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    border-radius: 100px;
    float: left
}

.InfoHoved_Item_text{
    float: left;
    margin-left: 15px;
    text-align: left;
}


.TurB{
    height: 140px;
    width: 330px;
    
    position: absolute;
    right: 0px;
    top: 470px;
    background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
    background-image: url("../bilder/TurB.png")
}

.Map {
        
        margin: 20px;
        width: 1000px;
        height: 650px;;
        background-color: grey;
        float: right;
        margin-right: 40px;

      }


.S1{
    width: 100%;
    
    display: inline-flex;
   
}


.InfoSide2{
    height: auto;
    width: 100%;
    background-color: white;
}

.InfoSide2_item{
    height: auto;
    width: 100%;
    background-color: whitesmoke;
    display: inline-flex;
    padding: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}

.InfoSide2_item_text{
    max-width: 900px;
    padding: 10px;
    line-height: 1.6;
    
}

.InfoSide2_item_bilde{
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: 250px;
    width: 350px;
    background-color: crimson;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
    
}

.Side1_bli{
    margin-top: 40px;
    width: 100%;
    background-color: white;
    text-align: center;
}

.Side1_bli_steg{
    margin-top: 10px;
    height: auto;
    max-width: 500px;
    
    
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.Side1_bli_steg_box{
    height: 33.3%;
    width: 100%;
    background-color: rgb(240,240,240);
    display: inline-flex;
    padding-right: 50px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    text-align: left;
    z-index: 1;
}

.Speidermann{
    height: 550px;
    width: 400px;
    position: absolute;
    right: 2%;
    display: ;
    background-image: url("../bilder/speider.png");
   
    
}

.tall{
    font-size: 80px;
    font-family: Verdana,Geneva,sans-serif;
    width: 100px;
    margin-left: 30px;
    
}

.lenker{
    margin-top: 30px;
    height: auto;
    width: 100%;
    background-color: rgb(250,250,250);
    text-align: center;
    padding: 10px;
     -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.lenker_box{
    height: auto;
    width: 300px;
    
    margin: 20px;
    
    display: inline-block;
   
}


.UnderHoved{
    height: auto;
    width: auto;
    background-color: white;
    padding: 10px;
    text-align: center;
   
}
a{
    color: inherit;
    text-decoration: inherit;
}

.event{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    display: inline-flex;
    height: auto;
    background-color: white;
    max-width: 800px;
    min-width: inherit;
    border-style:solid;
    border-color: rgb(0,100,100);
    padding: 10px;
     -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}


.event:hover{
    background-color: whitesmoke;
}

.event_bilde{
    display: block;
    margin-right: auto;
    margin-left: auto;
    height: auto;
    width: 400px;
    background-image: url("../bilder/bilde3.jpeg");
    background-color: crimson;
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
    
    
}



h7{
    font-size: 27px;
    font-family: Verdana,Geneva,sans-serif;
    
}